<div class="container">
  <div class="bg-img-about d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-md-12">
        <div class="bg-white text-center p-2">
          <p>工具の実際の使用感や使いやすさを共有するレビューサイトです。</p>
          <p>ゲストログインは閲覧のみになります。</p>
          <p>登録していただくと投稿可能になります。</p>
          <p>工具の購入、使用する際に参考にしていただければと思います。</p>
        </div>
      </div>
    </div>
  </div>
</div>