<div class="container">
  <div class="bg-img-about d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <div class="bg-white">
          <p>工具を購入した際に、実際に使ってみると想像していたよりも使いづらいことがありました。
          製品の性能や機能に関する情報だけではなく、実際の使用感についての詳細な情報が不足しています。
          工具箱を購入した際に、仕様や性能は満足できるものでしたが、実際に使用してみると開けやすさや重さが想像と異なり、
          工具を取り出すときにストレスを感じることがありました。 また、操作性や安全性についても、
          実際の使用によって初めて気づくことがありました。 なので、工具を購入する際には製品の仕様だけでなく、
          実際の使用感や使いやすさを共有できるレビューサイトが重要だと感じました。</p>
        </div>
      </div>
    </div>
  </div>
</div>