<div class="border rounded text-center bg-info-subtle">
  <h4>ジャンル一覧</h4>
  <% genres.each do |genre| %>
    <div>
      <% if user_signed_in? %>
        <%= link_to genre.name, posts_path(genre_id: genre.id), class: "link-secondary link-underline-opacity-0 link-underline-opacity-100-hover" %>
      <% else %>
        <%= link_to genre.name, admin_posts_path(genre_id: genre.id), class: "link-secondary link-underline-opacity-0 link-underline-opacity-100-hover" %>
      <% end %>
    </div>
  <% end %>
</div>