<table class="table">
  <% posts.each do |post| %>
    <tbody>
      <tr>
        <td style="width: 10%;">
          <%= image_tag post.get_post_image, size: "50x50", class: "d-block mx-auto" %>
        </td>
        <td style="width: 60%;">
          <%= link_to post.title, admin_post_path(post) %>
        </td>
        <td style="width: 30%;">
          <%= render 'public/posts/star', post: post %>
          <%= render 'public/comments/count', post: post %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>