<table class="table">
  <% users.each do |user| %>
    <tbody>
      <tr>
        <td style="width: 20%;">
          <%= image_tag user.get_profile_image, size: "50x50", class: "d-block mx-auto", style: "border-radius: 50%;" %>
        </td>
        <td style="width: 20%;">
          <%= link_to user.name, admin_user_path(user), class: "link-secondary link-underline-opacity-0 link-underline-opacity-75-hover" %>
        </td>
        <td style="width: 20%;">レビュー数: <%= user.posts.count %></td>
      </tr>
    </tbody>
  <% end %>
</table>