<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-md-8">
      <h4 class="mt-2">ユーザー一覧</h4>
      <%= render 'index', users: @users %>
    </div>
  </div>
</div>