<div class="container">
  <div class="row mx-auto mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-8 offset-md-1">
      <h4 class="mt-2">ユーザー一覧</h4>
      <%= render 'index', users: @users %>
    </div>
  </div>
</div>
